* {
  margin: 0;
  padding: 0;
  border: 0;
}
.futura-book {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.futura-book-italic {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.futura-light {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.futura-medium {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.futura-bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.futura-condensed-medium {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.futura-condensed-extra-bold {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.navigation-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-line #logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 1%;
}
#main-logo {
  width: 100%;
  max-width: 70px;
}
#cf-logo {
  width: 100%;
  max-width: 130px;
  padding-left: 5%;
}
#hamburger {
  width: 91px;
  height: 59px;
  font-size: 35px;
  color: #000;
}
.menu {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  height: 45px;
  font-size: 1rem;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.menu ul a {
  color: #000;
}
.menu a:hover {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button:hover {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.show-mobile-menu {
  height: 340px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
a {
  text-decoration: none;
}
p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #595959;
  font-size: .9rem;
  line-height: 17px;
}
.line {
  border-top: 2.5px solid #3d93d0;
  margin: 20px 20%;
}
footer {
  padding: 0 15%;
  text-align: center;
  margin-bottom: 10px;
}
footer p {
  font-size: .8rem;
}
h1 {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 10px;
}
#full-store {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 6px;
  display: block;
}
#slideout-ad {
  height: 200px;
  max-width: 320px;
  background-color: #efefef;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 36px;
}
.show {
  width: 100%;
  padding: 16px;
  border: 2px solid #11a57c;
  -webkit-transition: width 2s;
  transition: width 2s;
}
.hide {
  width: 0;
  padding: 0;
  border: 0;
}
header p {
  padding: 5px 8%;
  text-align: center;
}
.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-donate,
.main-volunteer,
.main-locations {
  width: 80%;
  max-width: 190px;
  text-align: center;
  margin: 10px 5% 0;
}
.main-donate p,
.main-volunteer p,
.main-locations p {
  text-align: left;
  margin-top: 10px;
}
.button {
  border: 2px solid #3d93d0;
  background-color: #01529c;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  padding: 4px 15%;
}
.main-pics {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.mission {
  padding: 5px 8%;
}
h2 {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
@media (min-width: 475px) {
  #logos {
    margin: 10px 0 0 3%;
  }
  #main-logo {
    max-width: 90px;
  }
  #cf-logo {
    max-width: 150px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .line {
    margin: 20px 15%;
  }
  .mission,
  header p {
    padding: 5px 12%;
  }
}
@media (min-width: 568px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 687px) {
  h1 {
    font-size: 2.4rem;
  }
  .main-donate,
  .main-volunteer,
  .main-locations {
    margin: 10px 3% 0;
  }
}
@media (min-width: 723px) {
  .menu {
    height: auto;
    width: 385px;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu ul li {
    width: 20%;
    margin: 0;
    border-bottom: none;
    border-left: 1px solid black;
    height: 25px;
    font-size: 1rem;
    padding: 0 11px;
  }
  #hamburger {
    display: none;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  p {
    font-size: 1rem;
  }
  .line {
    margin: 20px 20%;
  }
  .mission,
  header p {
    padding: 5px 23%;
  }
}
@media (min-width: 830px) {
  .menu {
    width: 430px;
  }
  .menu ul li {
    width: 20%;
    height: 25px;
    font-size: 1.3rem;
  }
}
